<div class="container col col-md-5">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">TimeTracker</h4>
      <p class="card-category">Login</p>
    </div>
    <div class="card-body">
      <form>
        <div class="row justify-content-md-center">
          <div class="col-md-9">
            <div class="form-group">
              <label class="bmd-label-floating">Email*</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-md-9">
            <div class="form-group">
              <label class="bmd-label-floating">Password*</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <button id="session-login" type="submit" class="btn btn-primary pull-right">Login</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
